body
{
	margin-left: 10px;
	margin-top: 20px;
	font-family: Courier;
}

h1
{
	text-align: center;
	color: #FFAA11;
}

.square
{
	width: 50px;
	height: 50px;
	margin: 2px;
	float: left;
	color: #99FF11;
	font-family:Verdana, Geneva, sans-serif;
	text-align: center;
	vertical-align: 50%;
}

.column
{
	position: relative;
}

.col_content
{
	position: absolute;
	bottom: 0;
}

.row
{
	line-height: 50px;
}

.water
{
	background-color: #FFFF11;
}

#message {
	font-family: Courier;
	color: #FF3333;
	text-align: center;
}

button {
	color: blue;
}

#buttons {
	margin-left: 80px;
	width: 320px;
	text-align: center;
}

input[type=button] {
  background-color: #9900CC;
  border: 1px solid #9900CC;
  border-radius: 8px;
  color: #fff;
  font: bold 11px/1 Tahoma, Geneva, sans-serif;
  padding: 6px 0 6px 0;
  position:relative;
  top:-4px;
  text-align: center;
  width: 100px;
}

#frame {
	width: 1000px;
	margin: 0px auto;
	border: 1px solid white;
}

#board {
	width: 500px;
	margin-left: 25px;
	margin-right: 25px;
	float: left;
}

#stats {
	width: 400px;
	float: left;
}

#bann_number
{
	width: 75%;
	height: 42px;
	float: left;
}

#defense_left
{
	height: 42px;
	color: #99FF11;
	font-weight: bold;
	font-size: 35px;
	text-align: center;
}

#badelynge_hit
{
	color: #33CCFF;
}

